In [1]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [2]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [5]:
#write on search bar
search_job.send_keys('Data Analyst')

In [6]:
#finding web element for search icon bar using relative xpath
search_locn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [7]:
#finding web element for job locn on bar
search_locn.send_keys('Bangalore')

In [10]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [11]:
#getting the job title
job_title=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)

In [12]:
#getting job location
job_location=[]

job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)

In [13]:
#getting company name
company=[]

comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])

In [14]:
#Experience
exp=[]

expn=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
expn=expn[0:10]
for i in expn:
    exp.append(i.text)
driver.close()

In [15]:
#Creaing the data frame to get top 10 results

data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company,'Experience_Required':exp})
data

,Job-Title,Job-Location,Company_Name,Experience_Required
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
3,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",CURise Analytics Pvt. Ltd.,0-2 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs
5,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
6,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-3 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
9,Financial Data Analyst,Bangalore/Bengaluru,Nuance India,3-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [16]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [17]:
url = 'https://www.naukri.com/'
driver.get(url)

In [18]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [19]:
#write on search bar
search_job.send_keys('Data Scientist')

In [20]:
#finding web element for search icon bar using relative xpath
search_locn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Bangalore')

In [22]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [23]:
job_title=[]
job_location=[]
company=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
    
job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
    
comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
    
driver.close()

In [24]:
#Creating data frame to get to 10 jobs data
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company})
data

,Job-Title,Job-Location,Company_Name
0,Data Scientist/ Senior Data Scientist,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
2,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
3,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
6,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
7,Research Scientist,Bangalore/Bengaluru,IBM
8,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
9,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL

# Q3: In this question you have to scrape data using the filters available on the webpage

In [25]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [26]:
url = 'https://www.naukri.com/'
driver.get(url)

In [27]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,'suggestor-input')

In [28]:
#write on search bar
search_job.send_keys('Data Scientist')

In [29]:
#finding web element for search icon bar using relative xpath
search_btn=driver.find_element(By.XPATH, '/html/body/div/div[2]/div[3]/div/div/div[6]')

In [30]:
search_btn.click()

In [33]:
loc_filter=driver.find_element(By.XPATH, '/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')

In [34]:
loc_filter.click()

In [35]:
sal_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')

In [36]:
sal_filter.click()

In [37]:
job_title=[]
job_location=[]
company=[]
exp=[]

job_tag=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
job_tag=job_tag[0:10]
for i in job_tag:
    job_title.append(i.text)
    
job_loc=driver.find_elements(By.XPATH, "//li[@class='fleft grey-text br2 placeHolderLi location']")
job_loc=job_loc[0:10]
for i in job_loc:
    job_location.append(i.text)
    
comp=driver.find_elements(By.XPATH, "//div[@class='mt-7 companyInfo subheading lh16']")
comp=comp[0:10]
for i in comp:
    company.append(i.text.split('\n')[0])
    
expn=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
expn=expn[0:10]
for i in expn:
    exp.append(i.text)

    
driver.close()

In [38]:
#Creating data frame to get the result
data=pd.DataFrame({'Job-Title':job_title, 'Job-Location':job_location,'Company_Name':company,'Experience_Required':exp})
data

,Job-Title,Job-Location,Company_Name,Experience_Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [39]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [40]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [41]:
time.sleep(3)

In [42]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [43]:
search_tag=driver.find_element(By.CLASS_NAME, "_3704LK")
search_tag.send_keys("Sunglasses")

In [44]:
search_button=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [45]:
# creating required list for processing
brand=[]
product_dis=[]
price=[]
discount=[]

#Defining a function that include scrapping functions
def scrap():
    
    brnd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brnd:
        if(len(brand)==100):
            break
        else:
            brand.append(i.text)
        dis=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
        for i in dis:
            if(len(product_dis)==100):
                break
            else:
                product_dis.append(i.text)
        pri=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
        for j in pri:
            if(len(price)==100):
                break
            else:
                price.append(j.text)
        dis=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
        for j in dis:
            if(len(discount)==100):
                break
            else:
                discount.append(j.text)

#now we are going to 100 sunglasses 
for i in range(0,3):
    if(i==0):
        scrap()
    elif i==1:
        driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
        time.sleep(3)
        scrap()
    elif(i==2):
        driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()
        time.sleep(3)
        scrap()
driver.close()

In [46]:
Sunglass=pd.DataFrame({'Brand':brand,'Product Details':product_dis,'Price':price,'Discount':discount})
Sunglass

,Brand,Product Details,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
1,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹759,62% off
2,Elligator,UV Protection Round Sunglasses (54),₹315,87% off
3,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹616,69% off
96,kingsunglasses,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
97,kingsunglasses,UV Protection Aviator Sunglasses (58),₹359,86% off
98,Fastrack,Riding Glasses Wrap-around Sunglasses (Free Size),₹299,88% off
99,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹664,66% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.

In [2]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [4]:
time.sleep(3)

In [5]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [6]:
search_tag=driver.find_element(By.CLASS_NAME,"_3704LK")
search_tag.send_keys("iphone 11")

In [7]:
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [11]:
#Now get the newly opened window
driver.get("https://www.flipkart.com/apple-iphone-11-white-128-gb/product-reviews/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSUPVRTR&marketplace=FLIPKART")

In [12]:
rating=[]
review_sum=[]
review_dis=[]

j=1
def i_scrap():
    rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        rating.append(i.text)
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_sum.append(i.text)
    rdis=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rdis:
        review_dis.append(i.text)
i_scrap()
next_b=driver.find_elements(By.CLASS_NAME,"ge-49M")
for b in next_b:
    i_scrap()
len(rating)

110

In [13]:
iphone_rating=pd.DataFrame({'Rating':rating,'Review_Summery':review_sum,'Review_Disciption':review_dis})
iphone_rating[:100]

,Rating,Review_Summery,Review_Disciption
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [73]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [74]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [75]:
time.sleep(3)

In [76]:
b=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
b.click()

In [77]:
search_tag=driver.find_element(By.CLASS_NAME,"_3704LK")
search_tag.send_keys("sneakers")

In [78]:
time.sleep(3)

In [79]:
search_button=driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search_button.click()

In [80]:
brand=[]
product_dis=[]
price=[]
discount=[]

#Defining a function that include scrapping functions
def scrap():
    
    brnd=driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for i in brnd:
        if(len(brand)==100):
            break
        else:
            brand.append(i.text)
        dis=driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
        for i in dis:
            if(len(product_dis)==100):
                break
            else:
                product_dis.append(i.text)
        pri=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
        for j in pri:
            if(len(price)==100):
                break
            else:
                price.append(j.text)
        dis=driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')
        for j in dis:
            if(len(discount)==100):
                break
            else:
                discount.append(j.text)

#now we are going to 100 sunglasses 
for i in range(0,3):
    if(i==0):
        scrap()
    elif i==1:
        driver.find_element(By.CLASS_NAME,"_1LKTO3").click()
        time.sleep(3)
        scrap()
    elif(i==2):
        driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]').click()
        time.sleep(3)
        scrap()
        
driver.close()

In [81]:
# Creating one data fram using scrapped data             
sneakers=pd.DataFrame({'Brand':brand,'Product Details':product_dis,'Price':price,'Discount':discount})
sneakers

,Brand,Product Details,Price,Discount
0,luxury fashion,luxury fashionable casual sneaker shoes Sneake...,₹499,61% off
1,HOTSTYLE,Sneakers Sneakers For Men,₹295,40% off
2,WOODLAND,Sneakers For Men,"₹2,096",30% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹269,79% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
...,...,...,...,...
95,KNIGHT WALKERS,Luxuryfashion casual sneaker shoes Sneakers Fo...,₹449,55% off
96,URBANBOX,Birde Trendy Casual Shoes Sneakers For Men,₹649,65% off
97,WHITE WALKERS,Sneakers For Men,"₹1,763",49% off
98,PUMA,Sneaker Sneakers For Men,₹397,80% off
99,aadi,Mike Stylish & Trendy Sneakers For Men,₹499,85% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [86]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [87]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [88]:
price_band=driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_band.click()

In [89]:
time.sleep(3)

In [90]:
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [91]:
time.sleep(3)

In [92]:
brand=[]
price=[]
short_dis=[]
def Shoe_scrap():
    br=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in br:
        brand.append(i.text)
    pr=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in pr:
        short_dis.append(i.text)
    sd=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in sd:
        price.append(i.text)
Shoe_scrap()

In [93]:
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a').click()

In [94]:
time.sleep(3)

In [95]:
Shoe_scrap()
driver.close()

In [96]:
Shoe=pd.DataFrame({'Brand':brand,'Prodcut Discription':short_dis,'Price':price})
Shoe

,Brand,Prodcut Discription,Price
0,Nike,Men React Infinity 3 Running,Rs. 11895Rs. 13995(15% OFF)
1,Nike,Men SRG 3 FK Training Shoes,Rs. 8895
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
3,Nike,Men Zoom C Pro HC Tennis Shoes,Rs. 7560Rs. 8895(15% OFF)
4,Nike,Women React MR 3 Running Shoes,Rs. 8920Rs. 10495(15% OFF)
...,...,...,...
95,fitflop,Embellished PU Comfort Pumps,Rs. 7499
96,fitflop,Embellished Leather Wedge Sandals,Rs. 7499
97,Geox,Women Leather Slip-On Sneakers,Rs. 7693Rs. 10990(30% OFF)
98,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
99,Clarks,Women Solid Leather Sneakers,Rs. 7224Rs. 8499(15% OFF)

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [97]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [98]:
url = 'https://www.amazon.in/'
driver.get(url)

In [99]:
time.sleep(3)

In [100]:
amazon_searchtext=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
amazon_searchtext.send_keys("Laptop")

In [101]:
time.sleep(3)

In [102]:
driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [103]:
driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[12]/span/a/span').click()

In [104]:
lap_title=[]
lap_pri=[]
lap_rate=[]
#def lap_scrap():
ti=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in ti:
    if(len(lap_title)==10):
        break
    else:
        lap_title.append(i.text)
rt=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')
for i in rt:
    if(len(lap_rate)==10):
        break
    else:
        lap_rate.append(i.get_attribute('aria-label'))

pr=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pr:
    if(len(lap_pri)==10):
        break
    else:
        lap_pri.append(i.text)
        
driver.close()

In [105]:
lap=pd.DataFrame({'Lap Titile':lap_title,'Lap Price':lap_pri,'Lap Rating':lap_rate})
lap

,Lap Titile,Lap Price,Lap Rating
0,Acer Aspire 3 Intel Core i3 11th Generation 15...,"31,650",4.1 out of 5 stars
1,"ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...","28,990",3.5 out of 5 stars
2,"Dell Inspiron 3511 Laptop, Intel I3-1005G1, 8G...","34,480",3.2 out of 5 stars
3,"Hp 14S, 11Th Gen Intel Core I3, 8Gb Ram/512Gb ...","40,990",4.1 out of 5 stars
4,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"35,290",4.2 out of 5 stars
5,Redmi Book 15 Intel Core I3 11Th Gen/8 Gb/256 ...,"32,999",3.8 out of 5 stars
6,"Honor MagicBook X 15, Intel Core i3-10110U / 1...","32,990",4.2 out of 5 stars
7,Hp 14S 11Th Gen Intel Core I3- 8Gb Ram/256Gb S...,"36,990",4.2 out of 5 stars
8,Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...,"40,490",4.2 out of 5 stars
9,"ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...","31,990",3.9 out of 5 stars

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. 
You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [106]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [107]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [108]:
driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]").click()

In [109]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')

In [110]:
driver.find_element(By.CLASS_NAME,"ctas-btn-medium").click()

In [111]:
driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]").click()

In [112]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input').send_keys('Noida')

In [113]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [114]:
time.sleep(3)

In [115]:
company=[]
no_day=[]
com_rating=[]
com=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in com:
    company.append(i.text.split('\n')[0])
    if len(com_rating)==0:
        com_rating.append(i.text.split('\n')[2])
    else:
        com_rating.append(i.text.split('\n')[1])
com_rating=com_rating[:10]
company=company[:10]
days=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in days:
    no_day.append(i.text.split(','))
no_day=no_day[0::2]

driver.close()

In [116]:
jobs=pd.DataFrame({'Company':company,'Company Rating':com_rating,'No of Days ago':no_day})
jobs

,Company,Company Rating,No of Days ago
0,Optum Global Solutions (India) Private Limited,4.1,[8d ago]
1,Optum Global Solutions (India) Private Limited,4.1,[15d ago]
2,GENPACT India Private Limited,4.0,[6d ago]
3,Dew Solutions Pvt. Ltd.,4.3,[13d ago]
4,InfoEdge India Ltd.,3.9,[14d ago]
5,Info Edge India Limited,3.9,[14d ago]
6,Info Edge India Limited,3.9,[14d ago]
7,Latent bridge,4.5,[1d ago]
8,Careerera,3.8,[28d ago]
9,Careernet Consulting,3.9,[14d ago]

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [14]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\Arpan Pattanayak\Downloads\chromedriver_win32\chromedriver.exe')

In [15]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [16]:
driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]").click()

In [17]:
driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').send_keys('Data Scientist')

In [18]:
#now  we want to extract all  the  10 comapny names here 
company_names=[]
co_nametag= driver.find_elements(By.XPATH,'//div[@class="company-info"]/a')

for i in  co_nametag:
    com_name=(i.text.split('\n')[0])
    company_names.append(com_name)
company_names

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Reliance Jio',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'EXL Service',
 'Deloitte']

In [30]:
#Now we will fetch the min, avg and max Salary
avg_sal=[]
min_sal=[]
max_sal=[]
asal=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in asal:
    avg_sal.append(i.text)
misal=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in misal:
    min_sal.append(i.text)
max_sal=min_sal[1::2]
min_sal=min_sal[0::2]

In [21]:
#now  we  will  be fetching  the  experience   here 
company_exp=[]
exp_tag= driver.find_elements(By.XPATH, '//div[@class="sbold-list-header"]')
for i in exp_tag:
    com_exp=i.text
    company_exp.append(com_exp)
company_exp

['3 yrs experience (based on 12 salaries)',
 '3-4 yrs experience (based on 33 salaries)',
 '2 yrs experience (based on 15 salaries)',
 '3-4 yrs experience (based on 32 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 89 salaries)',
 '2-4 yrs experience (based on 51 salaries)',
 '2-4 yrs experience (based on 57 salaries)',
 '3-4 yrs experience (based on 21 salaries)',
 '2-4 yrs experience (based on 69 salaries)']

In [33]:
salary = pd.DataFrame({})

salary['Comapnay_names']=company_names
salary['minimum_salary']=min_sal
salary['Average_salary']=avg_sal
salary['Maximum_salary']=max_sal
salary['Experiences_req']=company_exp
salary

,Comapnay_names,minimum_salary,Average_salary,Maximum_salary,Experiences_req
0,Walmart,₹ 25.0L,₹ 30.6L,₹ 36.0L,3 yrs experience (based on 12 salaries)
1,Ab Inbev,₹ 15.0L,₹ 20.8L,₹ 26.2L,3-4 yrs experience (based on 33 salaries)
2,ZS,₹ 11.0L,₹ 16.7L,₹ 22.0L,2 yrs experience (based on 15 salaries)
3,Optum,₹ 11.0L,₹ 15.9L,₹ 22.5L,3-4 yrs experience (based on 32 salaries)
4,Reliance Jio,₹ 5.6L,₹ 15.7L,₹ 26.2L,3-4 yrs experience (based on 21 salaries)
5,Fractal Analytics,₹ 10.0L,₹ 15.5L,₹ 23.0L,2-4 yrs experience (based on 89 salaries)
6,Tiger Analytics,₹ 9.0L,₹ 14.8L,₹ 20.0L,2-4 yrs experience (based on 51 salaries)
7,UnitedHealth,₹ 8.3L,₹ 14.0L,₹ 21.1L,2-4 yrs experience (based on 57 salaries)
8,EXL Service,₹ 7.6L,₹ 13.2L,₹ 21.0L,3-4 yrs experience (based on 21 salaries)
9,Deloitte,₹ 7.0L,₹ 12.8L,₹ 25.0L,2-4 yrs experience (based on 69 salaries)