In [2]:
# Importing necessary library files
import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings("ignore")


import selenium
import pandas as pd
import numpy as np
import time
import requests
import re
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementNotVisibleException
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementClickInterceptedException

In [3]:
# Connecting to the webdriver 
driver = webdriver.Chrome("chromedriver.exe")
driver.maximize_window()        # Maximizing the window

In [4]:
# Getting the webpage of mentioned url
url = "https://www.yatra.com/"
driver.get(url)
time.sleep(3)

In [5]:
name=[] #empty list
source=[] #empty list
dest=[] #empty list
dep=[] #empty list
arr=[] #empty list
duration =[] #empty list
stops=[] #empty list
info=[] #empty list
price=[] #empty list
url=[] #empty list

In [6]:
#the site uses cookies, click on I agree
Iagree = driver.find_element(By.XPATH, "//button[@class='btngdpr']")
Iagree.click()

In [10]:
#click on first location, "New DElhi", in section of popular domestic flight routes 
domdelhi = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[1]")
domdelhi.click()

#collecting flights from Delhi to popular stops
urldm = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urldm[:]:
        url.append(i.get_attribute('href'))

In [11]:
#click on second location, "Mumbai", in section of popular domestic flight routes 
dommum = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[2]")
dommum.click()
     
#collecting flights from Mumbai to popular stops
urlmum = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlmum[:]:
        url.append(i.get_attribute('href'))

In [12]:
#click on third location, "BANGALORE", in section of popular domestic flight routes 
dombgl = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[3]")
dombgl.click()

#collecting flights from BANGALORE to popular stops
urlbnl = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlbnl[:]:
        url.append(i.get_attribute('href'))

In [13]:
#click on fourth location, "HYDERABAD", in section of popular domestic flight routes 
domhyd = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[4]")
domhyd.click()
     
#collecting flights from HYDERABAD to popular stops
urlhyd = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlhyd[:]:
        url.append(i.get_attribute('href'))

In [14]:
#click on fifth location, "Kolkata", in section of popular domestic flight routes 
domkol = driver.find_element(By.XPATH, "//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/ul/li[5]")
domkol.click()

#collecting flights from Kolkata to popular stops
urlkol = driver.find_elements(By.XPATH,"//div[@class='popular_destination popular-destination-module carousalModuleArea'][1]/div/div/div/div[1]/div/a")
for i in urlkol[:]:
        url.append(i.get_attribute('href'))

In [16]:
len(url)

164

In [18]:
details=[]
for j in url:      #fetching data of various flights from each page
    driver.get(j)
    time.sleep(2)
    
    #driver.find_element(By.XPATH,"//span[@class='flR mr15 view_more']/a").click()
#i-b text ellipsis
    airline=driver.find_elements(By.XPATH,"//div[@class='flight-det table full-width clearfix']")
    for i in airline:
        details.append(i.text)

In [19]:
detail_df=pd.DataFrame(details)
detail_df.head()

                                                   0
0  SpiceJet\nSG-8709\n18:55\nNew Delhi\n21:05\nMu...
1  SpiceJet\nSG-8701\n07:20\nNew Delhi\n09:35\nMu...
2  SpiceJet\nSG-8169\n19:45\nNew Delhi\n22:05\nMu...
3  Air Asia\nI5-745/338\n13:00\nNew Delhi\n18:20\...
4  Air Asia\nI5-857/334\n18:45\nNew Delhi\n00:40\...

In [20]:
res = [i for i in details if 'day' not in i]
len(res)

1918

In [21]:
del_row=detail_df.index[detail_df[0].str.find('day') != -1].tolist()

In [22]:
del_df = [detail_df[0].index.values for i in detail_df[0] if 'day' in i]

In [23]:
len(details)

2208

In [24]:
Airlines_details=[]  
for i in res:
    Airlines_details.append(i.split('\n'))

In [25]:
name=[]
for i in Airlines_details:
    name.append(i[0])

In [26]:
source=[] #empty list
for i in Airlines_details:
    source.append(i[3])

In [27]:
destination=[] #empty list
for i in Airlines_details:
    destination.append(i[5])

In [28]:
dep_time=[] #empty list
for i in Airlines_details:
    dep_time.append(i[2])

In [29]:
arr_time=[] #empty list
for i in Airlines_details:
    arr_time.append(i[4])

In [30]:
duration =[] #empty list
for i in Airlines_details:
    duration.append(i[6])

In [31]:
stops=[] #empty list
for i in Airlines_details:
    stops.append(i[7])

In [32]:
price=[] #empty list
for i in Airlines_details:
    if i[8].find('at')==-1:
        price.append(i[8])
    else:
        pos=i[8].find('at')
        price.append(i[8][pos+2:])

In [33]:
info=[] #empty list
for j in url:      #fetching data of various flights from each page
    driver.get(j)
    time.sleep(2)
    try:    
        #fetching the additional information of the flight
        ad=driver.find_elements(By.XPATH,"//div[@class='features pull-right fs-12 flex']")
        for k in ad:
            y=k.text.split('\n')
            if y[0]=='Free Meal' or y[0]=='No Meal Fare':
                info.append(y[0])
            else:
                info.append('No info')
    except:
        info.append('No info')

In [34]:
info_df=pd.DataFrame(info)
info_df=info_df.drop(del_row)
info_df

            0
0     No info
1     No info
2     No info
3     No info
6     No info
...       ...
2241  No info
2242  No info
2243  No info
2244  No info
2245  No info

[1956 rows x 1 columns]

In [35]:
print(len(name),len(source),len(destination),len(dep_time),len(arr_time),len(duration),len(stops),len(price))

1918 1918 1918 1918 1918 1918 1918 1918

In [36]:
Flight = pd.DataFrame({})   #creating a datafrmae
Flight['Airline']=name
Flight['Source']=source
Flight['Destination']=destination
Flight['Dep_Time']=dep_time
Flight['Arrival_Time']=arr_time
Flight['Duration']=duration
Flight['Total_Stops']=stops
Flight['Additional_Info']=info_df[0]
Flight['Price (in ₹)']=price
Flight

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price (in ₹)
0,SpiceJet,New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,No info,"5,950"
1,SpiceJet,New Delhi,Mumbai,07:20,09:35,2h 15m,Non Stop,No info,"5,950"
2,SpiceJet,New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,No info,"5,950"
3,Air Asia,New Delhi,Mumbai,13:00,18:20,5h 20m,1 Stop,No info,"5,950"
4,Air Asia,New Delhi,Mumbai,08:00,14:05,6h 05m,1 Stop,NaN,"5,950"
...,...,...,...,...,...,...,...,...,...
1913,IndiGo,Kolkata,Chennai,12:05,18:30,6h 25m,1 Stop,No info,"6,507"
1914,IndiGo,Kolkata,Chennai,05:40,12:10,6h 30m,1 Stop,No info,"6,507"
1915,IndiGo,Kolkata,Chennai,08:40,15:55,7h 15m,1 Stop,No info,"6,507"
1916,IndiGo,Kolkata,Chennai,12:05,19:40,7h 35m,1 Stop,No info,"6,507"
1917,IndiGo,Kolkata,Chennai,04:30,12:10,7h 40m,1 Stop,No info,"6,507"

In [37]:
Flight.to_csv('Flight price Dataset.csv')
#saving/exporting the dataset into excel

In [38]:
driver.quit()
#closing the chrome driver